
/* general rules */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.global{
  margin: 0 10%;
}

.row::after{
  content: "";
  display: table;
  clear: both;
}

section{
  margin-bottom: 20px;
}

/* header */

/* nav fixed */
#first-nav{
  background-color: #f5f8fa;
  height: 50px;
  width: 100%;
  border-bottom: solid 1px black;
  position: fixed;
  top:0;
  left: 0;
}

#contact{
  height: 100%;
  line-height: 50px;
  float: left;
}

#contact span{
  margin-right: 10px;
}

.border{
  display: inline-block;
  width: 2px;
  height: 10px;
  border-right: solid 1px ;
}

.login{
  float: right;
  line-height: 50px;
}

.white-button{
  display: inline;
  text-decoration: none;
  background-color: white;
  border: solid 1px orange;
  color: orange;
  padding: 5px;
  margin: 0 5px;
  border-radius: 10px;
}

.orange-button{
  display: inline;
  text-decoration: none;
  background-color: #ff7a59;
  color: white;
  padding: 5px;
  border-radius: 10px;
}

/* second nav */
#second-nav{
  height: 50px;
  width: 100%;
  margin-top: 50px;
}

.logo{
  float: left;
  width: 100px;
  padding-top: 10px;
}

.logo img {
  width: 100%;
}

.list-header ul{
  float: right;
}

li{
  display: inline-block;
  line-height: 50px;
  margin-right: 5px;
}

li a{
  text-decoration: none;
  color: black;

}

/* jumbo */

.jumbo{
  height: 700px;
  background-image: url("../img/jumbotron.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: #33475b;
}

.jumbo .contained{
  width: 35%;
  padding-top: 200px;
}

.jumbo h2{
  font-size: 50px;
  margin-bottom: 5px;
}

.jumbo span{
  font-size: 20px;
}

.contained .orange-button{
  display: inline-block;
  font-size: 40px;
  padding: 10px;
  margin: 10px 0 ;
}

/* main prima sezione */

#first-section{
  background-color: #f5f8fa;
}

.img-cube{
  margin: 0 auto;
  width: 300px;
}

.img-cube img{
  width: 100%;
}

.text-cube{
  text-align: center;
  color: #33475b;
}

.text-cube h2{
  font-size: 30px;
  margin-bottom: 10px;
}

/* primo rettangolo bianco */
.free-hubspot{
  width: 80%;
  height: 250px;
  border: solid 1px black;
  border-radius: 5px;
  background-color: white;
  color: #33475b;
}

.collums25{
  float: left;
  width: 25%;
  text-align: center;
}

.collums75{
  float: left;
  width: 73%;
  margin-left: 2%;
}

#button-books{
  margin-top: 20px;
}

.img-books{
  width: 100%;
  margin-top: 10px;
}

.img-books img{
  width: 100%;
  padding-left: 20px;
}

.collums75 i{
  color: #ff7a59;
  margin: 10px 10px;
}

.collums75 h2{
  font-size: 25px;
  margin-top: 25px;
}

.collums75 p{
  margin: 15px 0 ;
}

.collums75 strong{
  margin-right: 20px;
}

/* 3 colonne */
.collums33{
  float: left;
  width: 31%;
  margin: 0 1%;
  background-color: white;
  border: solid 1px ;
  text-align: center;
  color: #33475b;
}

.img-collums{
  margin: 5px auto;
  width: 100px;
  height: 105px;
}

.img-collums img {
  width: 100%;
}

.collums33 i{
  color: #ff7a59;
  margin: 0 10px;
}

.collums33 h2{
  margin-bottom: 15px;
}

.collums33 p{
  margin-bottom: 20px;
}

.collums33 hr{
  margin: 0 auto;
  width: 80%;
  margin-bottom: 10px;
}

.collums33 h3{
  margin-bottom: 20px;
}

.feature{
  text-align: left;
  margin-bottom: 20px;
}

.collums33 .orange-button{
  display: inline-block;
  margin-bottom: 20px;
}

/* seconda sezione */

#second-section{
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  color: white;
  text-align: center;
  padding: 30px 0;
}

#second-section h2{
  display: inline-block;
  margin-top: 30px;
  font-size: 40px;
  width: 100%
}

#second-section p{
  margin: 30px 0;
}

.img-table{
  height:40px;
}

.img-table img{
  max-width: 150px;
  max-height: 100%;
}

#second-section .collums25{
  border-right: solid 1px white;
  padding: 15px;
}

.collums25.riga{
  border-top: solid 1px white;
}

/* terza sezione */

.row.global{
  margin-top: 70px;
}

.collums40{
  float: left;
  width: 40%;
  padding-top: 5%;
  color: #33475b;
}

.collums40 h2{
  font-size: 55px;
}

.collums40 p{
  font-size: 25px;
}

.collums60{
  float: left;
  width: 60%;
  padding-top: 40px;
}

.collums60 .collums25{
  height: 100px;
  line-height: 125px;
}

.collums60 .collums25 img{
  max-width: 100%;
  padding: 10%;
}
