
/* general rules */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.global{
  margin: 0 10%;
}

.row::after{
  content: "";
  display: table;
  clear: both;
}

/* header */

/* nav fixed */
#first-nav{
  background-color: lightblue;
  height: 50px;
  width: 100%;
  border-bottom: solid 1px black;
  /* position: fixed;
  z-index: 999; */
}

#contact{
  height: 100%;
  line-height: 50px;
  float: left;
}

#contact span{
  margin-right: 10px;
}

.border{
  display: inline-block;
  width: 2px;
  height: 10px;
  border-right: solid 1px ;
}

.login{
  float: right;
  line-height: 50px;
}

.white-button{
  display: inline;
  text-decoration: none;
  background-color: white;
  border: solid 1px orange;
  color: orange;
  padding: 5px;
  margin: 0 5px;
}

.orange-button{
  display: inline;
  text-decoration: none;
  background-color: orange;
  color: white;
  padding: 5px;
}

/* second nav */
#second-nav{
  height: 50px;
  width: 100%;
}

.logo{
  float: left;
  width: 100px;
  padding-top: 10px;
}

.logo img {
  width: 100%;
}

.list-header ul{
  float: right;
}

li{
  display: inline-block;
  line-height: 50px;
  margin-right: 5px;
}

li a{
  text-decoration: none;
  color: black;

}
