
/* general rules */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.global{
  margin: 0 10%;
}

.row::after{
  content: "";
  display: table;
  clear: both;
}

section{
  padding-bottom: 20px;
}

.white-button{
  text-decoration: none;
  background-color: white;
}

header .white-button{
  color: orange;
  border: solid 1px orange;
  padding: 5px;
  margin: 0 5px;
  border-radius: 10px;
}

.orange-button{
  display: inline;
  text-decoration: none;
  background-color: #ff7a59;
  color: white;
  padding: 5px;
  border-radius: 10px;
}

/* header */

/* nav fixed */
#first-nav{
  background-color: #f5f8fa;
  height: 50px;
  width: 100%;
  border-bottom: solid 1px lightblue;
  position: fixed;
  top:0;
  left: 0;
}

#contact{
  height: 100%;
  line-height: 50px;
  float: left;
}

#contact span{
  margin-right: 10px;
}

.border{
  display: inline-block;
  width: 2px;
  height: 10px;
  border-right: solid 1px ;
}

.login{
  float: right;
  line-height: 50px;
}

.login i{
  color: #7b7bed;
}
/* second nav */
#second-nav{
  height: 50px;
  width: 100%;
  margin-top: 50px;
}

.logo{
  float: left;
  width: 100px;
  padding-top: 10px;
}

.logo img {
  width: 100%;
}

.list-header ul{
  float: right;
}

.list-header li{
  display: inline-block;
  line-height: 50px;
  margin-right: 5px;
}

.list-header li a{
  text-decoration: none;
  color: #33475b;
  font-size: 20px;
  margin-right: 10px;
}

/* jumbo */

.jumbo{
  height: 700px;
  background-image: url("../img/jumbotron.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: #33475b;
}

.jumbo .contained{
  width: 35%;
  padding-top: 200px;
}

.jumbo h2{
  font-size: 50px;
  margin-bottom: 5px;
}

.jumbo span{
  font-size: 20px;
}

.contained .orange-button{
  display: inline-block;
  font-size: 40px;
  padding: 10px;
  margin: 10px 0 ;
}

/* main prima sezione */

#first-section{
  background-color: #f5f8fa;
}

.img-cube{
  margin: 0 auto;
  width: 300px;
}

.img-cube img{
  width: 100%;
}

.text-cube{
  text-align: center;
  color: #33475b;
}

.text-cube h2{
  font-size: 30px;
  margin-bottom: 10px;
}

/* primo rettangolo bianco */
.free-hubspot{
  width: 80%;
  height: 250px;
  border: solid 1px lightblue;
  border-radius: 5px;
  background-color: white;
  color: #33475b;
}

.collums25{
  float: left;
  width: 25%;
}

#second-section .collums25{
  text-align: center;
}

.collums75{
  float: left;
  width: 73%;
  margin-left: 2%;
}

#button-books{
  margin-top: 40px;
  text-align: center;
}

#button-books .orange-button{
  padding: 15px 25px;
}

.img-books{
  width: 66%;
  margin: 20px 25px;
}

.img-books img{
  width: 100%;
  padding-left: 20px;
}

.collums75 i{
  color: #ff7a59;
  margin: 10px 10px;
}

.collums75 h2{
  font-size: 25px;
  margin-top: 25px;
}

.collums75 p{
  margin: 15px 0 ;
}

.collums75 strong{
  margin-right: 20px;
}

.collums75>span{
  width: 300px;
  display: inline-block;
  height: 1px;
  border-top: solid 1px ;
  padding-bottom: 5px;
}

.collums75 div{
  margin-top: 20px;
}

/* 3 colonne */
.collums33{
  float: left;
  width: 31%;
  margin: 0 1%;
  background-color: white;
  border: solid 1px lightblue;
  text-align: center;
  color: #33475b;
}

.img-collums{
  margin: 5px auto;
  width: 100px;
  height: 105px;
}

.img-collums img {
  width: 100%;
}

.collums33 i{
  color: #ff7a59;
  margin: 0 10px;
}

.collums33 h2{
  margin-bottom: 15px;
}

.collums33 p{
  margin-bottom: 20px;
}

.collums33 hr{
  margin: 25px auto;
  width: 80%;
}

.collums33 h3{
  margin-bottom: 20px;
}

.feature{
  text-align: left;
  margin-bottom: 20px;
}

.collums33 .orange-button{
  display: inline-block;
  margin-bottom: 20px;
}

/* seconda sezione */

#second-section{
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  color: white;
  text-align: center;
  padding: 30px 0;
}

#second-section h2{
  margin-top: 30px;
  font-size: 40px;
  width: 100%
}

#second-section p{
  margin: 30px 0;
}

#second-section h2, #second-section p{
  padding: 0 20%;
}

.img-table{
  height:40px;
}

.img-table img{
  max-width: 150px;
  max-height: 100%;
}

#second-section .collums25{
  border-right: solid 1px white;
  padding: 15px;
}

.collums25.riga{
  border-top: solid 1px white;
}

/* terza sezione */

/* riga customers */
.row.global{
  margin-top: 70px;
  color: #33475b;
}

.collums40{
  float: left;
  width: 40%;
  padding-top: 5%;
}

.collums40 h2{
  font-size: 55px;
}

.collums40 p{
  font-size: 25px;
}

.collums60{
  float: left;
  width: 60%;
  padding-top: 40px;
}

.collums60 .collums25{
  height: 100px;
  line-height: 125px;
}

.collums60 .collums25 img{
  max-width: 100%;
  padding: 10%;
}

/* riga start growing */

.collums50{
  float: left;
  width: 50%;
}

.collums50 img{
  padding-left: 35%;
  max-height: 400px;
}

.collums50 h2{
  font-size: 40px;
}

.collums50 p{
  margin: 20px 0;
  font-size: 20px;
}

.collums50 a{
  display: inline-block;
  padding: 5% 7%;
  margin-bottom: 20px;
  font-size: 25px;
}

/* footer */

footer a:hover, #languages a:hover, footer i:hover, .footer-list a:hover{
  color: lightblue;
}

/*sezione con liste */

footer{
  background-color: #335374;
}

footer h3{
  color: #fff;
  font-size: 20px;
}

footer .row.global{
  padding: 80px 0;
}

.footer-list li{
  list-style: none;
  padding: 15px 0;
}

.footer-list li a{
  text-decoration: none;
  color: #cbd6e2;
  font-size: 20px;
}

footer .collums25{
  padding: 0 10px;
}

footer .white-button{
  display: inline-block;
  color: #33475b;
  padding: 8px;
  margin-top: 10px;
  border-radius: 5px;
}

footer a i{
  color: #cbd6e2;
  margin: 15px 10px;
  font-size: 25px;
}

/* seszione lingue e copyright */

#languages{
  text-align: center;
  margin-bottom: 30px;
}

#languages li{
  display:inline-block;
  margin: 0 15px;
}

#languages li a{
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.copyright {
  float: left;
}

.copyright, .copyright p{
  color: #fff;
  padding: 20px 0;
}

.legal{
  float: right;
  padding-top: 20px;
}

.legal a{
  text-decoration: none;
  color: #fff;
  padding-right: 30px;
  font-size: 25px;
}
